header {
    background-color: #081920;
    background-image: url('/src/imgs/header-bg.png'), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%);
    background-size: cover;
    height: 605px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #33A8DB;
}

.header-container{
    display: grid;
    place-items: center;
    align-items: center;
}

.icon-container{
    height: 268px;
    width: 268px;
    margin-top: 2rem;
    box-shadow: 200px 200px 5px rgba(0, 0, 0, 0.2) inset;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon{
    height: 214px;
    width: 248px;
}

.gradient-text{
    margin-top: -4rem;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #2082c9;
}

header p{
    margin-top: -6rem;
    color: #fff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

header button{
    margin-top: -6rem;
    color: #2082c9;
    padding: 15px 40px;
    background: transparent;
    border: 2px solid #2082c9;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.21em;
}

.modulos{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #33A8DB;
}

.modulos > h1, .people > h1{
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    text-align: center;
    color: #33A8DB;
}

.modulos > p, .people > p, footer > p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 1rem;

}

.modulos > ul{
    padding: 0 0 5rem 0;
}

li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #fff;
    padding: 20px 40px;
    border: 1px solid #33A8DB;
    margin: 20px 0;
    text-align: center;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: #252525;
}

.highlight{
    color: #33A8DB;
}

.mid-banner{
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-bottom: 1px solid #33A8DB;
}

.mid-banner > p{
    position: absolute;
    z-index: 2;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin: 6rem 0 0 10rem;
    text-shadow: 3px 2px 0px #33A8DB;
}

.mid-banner-img{
    z-index: 1;
}

.people{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #33A8DB;
}

.people > img{
    width: 659px;
    height: 429px;    
}

.people > p{
    padding: 3rem 0;
}

footer{
    background: linear-gradient(180deg, rgba(1,3,4,1) 0%, rgba(9,41,57,1) 87%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > img{
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 310px;
}

footer > p{
    margin-bottom: 0.5rem;
}

a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: 700;
}








